* {
	box-sizing: border-box;
}
body {
	margin: 0;
    /* font-family: 'Inter', sans-serif; */
	/* font-family: Arial, sans-serif; */
    /* font-weight: 500px; */
}

header {
	background-color: #87cdf6;
	color: #000000;
	padding: 20px;
}
h3{
    padding-top: 20px;
}
h1 {
	text-align: center;
    margin: 0;
}
h2{
    text-align: center;
}
.brand {
	/* border: 1px solid #ccc; */
	padding: 20px;
	margin-bottom: 20px;
    text-align: center;
}

.brand img {
	max-width: 100%;
	height: auto;
}

.brand h3 {
	margin-top: 0;
}

.brand p {
	margin: 10px 0 0;
}

section {
	padding: 20px;
}

ul {
	padding: 0;
	list-style: none;
}

.brands-list li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.image{
    size: 200px;
}